.todos {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.todosText {
  font-family: "homemade Apple", sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 16px;
}

.spanText {
  font-family: "bungee", sans-serif;
  font-size: 24px;
  color: orange;
}
